{% extends 'base.html' %}

{% block list %}

    <h2>Todo tasks list</h2>
    <hr>

    <table style="width:100%">
      <tr>
        <th>Task</th>
        <th>Created</th>
        <th>Due on</th>
        <th>Owner</th>
        <th>Mark</th>
      </tr>
      {% for task in tasks %}
          <tr>
            <td>{{ task.title }}</td>
            <td>{{ task.created_date }}</td>
            <td>{{ task.due_on }}</td>
            <td>{{ task.owner.username }}</td>
            <td>
                <form action="http://127.0.0.1:8000/todolist/completedList/add/" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn btn-info" name="task_id" value="{{ task.id }}">Done</button>
                </form>
            </td>
          </tr>
      {% endfor %}
  </table>

  <a href="http://127.0.0.1:8000/todolist/completedList/">
     <button class="viewTasksButton">View completed tasks</button>
  </a>

  <a href="http://127.0.0.1:8000/todolist/delete/">
     <button class="deleteButton">Delete this list</button>
  </a>

{% endblock %}
